.pagetop {
    display: flex;
    float: right;
}

#redirect {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px grey;
    transition: 0.2s;
    font-family: Arial;
}
#redirect:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.1);
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    border: solid black 2px;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    background-color: orange;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 160px;
    position:relative;
    z-index: 9999;
  }

  .content h2 {
    border-bottom: solid rgb(255, 177, 33);
  }

  .nopush {
      position: absolute;
      top: 80px;
      width:100%;
  }

  .divide {
      margin-top: 10px;
      height: 2px;
      background-color: orange;
  }

  header {
      font-family: Arial;
      font-size: 30px;
      text-align: center;
      margin-top: 20px;
      font-weight: bold;
  }